@import url(../utils/index.css);
@import url(../components/status_bar.css);
@import url(../components/profile.css);


#animation {
    animation-name: loading;
    animation-duration: 1000ms;
}

@keyframes loading {
    from{
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
